__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
venv/
.venv/
env/
*.env
db.sqlite3
*.log
staticfiles/
media/
.env
*.env
chromedriver.exe
geckodriver.exe
msedgedriver.exe
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
*.csv
*.dll
*.so
*.cache
